html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* VARIABLES */

:root {
  --dark-grey: #4f4f4f;
}

/* MAIN ELEMENTS */

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  margin: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

header {
  margin: 0;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  color: black;
  width: 100%;
  height: fit-content;
  flex-grow: 1;
  flex-direction: column;
  font-size: 1rem;
}

footer {
  width: 100%;
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: black;
}

h2 {
  font-size: 1.5rem;
}

.jokes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.card {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  background-color: lightgrey;
}

.single-card {
  max-width: 600px;
  margin: 0 auto;
}

.explanation-text {
  display: none;
  font-size: 0.8rem;
}

.id {
  margin: 0 auto;
  padding-top: 1rem;
}

nav {
  margin-left: 3rem;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.error {
  border: solid 1px red;
  color: red;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.type-joke {
  margin-top: 2rem;
}

.details {
  margin-bottom: 2rem;
}

/* LOADER */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid purple;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
